body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-typography h1 {
  font-size: initial;
  font-weight: initial;
  line-height: initial;
  font-family: Roboto, sans-serif;
  letter-spacing: initial;
  margin: initial;
}

.mat-typography h3 {
  font-size: initial;
  font-weight: initial;
  line-height: initial;
  font-family: Roboto, sans-serif;
  letter-spacing: initial;
  margin: initial;
  }


@media (max-width: 1120px) {
    .hide-mobile {
        display: none;
    }
}

@media (min-width: 1120px) {
  .hide-desktop {
      display: none;
  }
}
